@media(max-width: 832px) {

  .blog {
    flex-direction: column;
  }

  .blog_img {
    width: 100%;
  }

  .blog_txt {
    width: 100%;
    padding: 5px;
  }

  .banner {
    margin: 0 0 40px 0;
  }

  .bigword {
    font-size: 52px;
  }

  .container {
    padding: 0 10px;
  }

  .pagination{
    font-size: 12px;
  }

  .email {
    font-size: 22px;
  }
}